body{
  background-image: linear-gradient(#f8f9fa,#f05053);
  background-attachment: fixed;
}

.app{
  overflow-x: auto;
  width: 100%;
}
.row{
  /* height: 90vh; */
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 0;
  margin-right: 0;
}

.nav__items{
  color: black;
  font-size: medium;
  margin: 0;
  padding: 0;
  margin-left: 10px;
  margin-right: 10px;
}

.container{ 
 padding-top: 40px;
 margin-top: 20px;
 margin-bottom: 20px;
}

.tech{
  margin: 20px;
  width: 300px;
}

.contact{
  text-align: center;
  margin-top: 20px;
  font-size: x-large;
  margin-bottom: 80px;  
}

.color{
 color: black;
}

.app__sidebar{
  /* height: 100%; */
  background-color: #fff;
  border-radius: 20px;
  padding: 25px 15px;
  box-shadow: 0 0 10px black;
  margin-top: 20px;
}

.app__sidebar-two{
  /* height: 100%; */
  margin-top: 20px;
  background-color: #fff;
  border-radius: 20px;
  padding: 25px 10px;
  box-shadow: 0 0 10px black;
}

.name{
  font-family: 'Oswald';
}

.links {
  background-image: linear-gradient(#8cbaff,#fa9495);
  border-radius: 10px;
  color: #fff;
  padding-left: 10px;
  cursor: pointer;
}

.links:hover{
  zoom: 1.2;
}

.navbar{
  width: 100%;
}
.navbar-nav{
  flex-direction: row;
}
.footer {
  bottom: 0;
  width: 100%;
  min-height: 80px;
}

.experience{
  padding-top: 10px;
  font-weight: bold;
  color: blue;
}

.volunteer{
  padding-top: 10px;
  font-weight: bold;
  color: blue;
}

.projects{
  padding-top: 10px;
  font-weight: bold;
  color: blue;
}

.skills{
  padding-top: 10px;
  font-weight: bold;
  color: blue;
}

.education{
  padding-top: 10px;
  font-weight: bold;
  color: blue;
}

.hobbies{
  padding-top: 10px;
  font-weight: bold;
  color: blue;
}

.language{
  padding-top: 10px;
  font-weight: bold;
  color: blue;
}

.navbar .container-fluid{
  justify-content: center;
}

.container-fluid{
  padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
}

.header{
  overflow-x: auto;
  width: 100%;
}

.navbar-brand {
  margin-right: 0;
}